{% extends 'base.html' %}
{% block header %}
  <h1>{% block title %}Hymns List{% endblock title %}</h1>
{% endblock header %}
{% block content %}
  {% for initial, items in hymns|groupby("initial") %}
  <h3>{{ initial }}</h3>
  {% for hymn_row in items|batch(3) %}
    <div class="row">
      {% for hymn in hymn_row %}
        <div class="one-third column">
          <div>
            <a href="{{ url_for('hymns.slide', slug=hymn['slug']) }}">
              <strong>{{ hymn['title'] }}</strong>
            </a> &mdash; 
            <a href="{{ url_for('hymns.edit_hymn', slug=hymn['slug']) }}">
              Edit
            </a>
          </div>
        </div>
      {% endfor %}
    </div>
  {% endfor %}
{% endfor %}
{% endblock content %}